<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dbConnectionString" value="Data Source=LAPTOP-KSC02M5Q\SQLEXPRESS;Initial Catalog=csharpacademy_phonebook;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</appSettings>
</configuration>